<%- include header %>
<ul style="list-style:none">
  <li><h4><a href="http://blog.csdn.net/paranoidyang">我的CSDN博客</a></h4>欢迎挨踢小伙伴的关注，本着学习与分享的精神，一起进步！</li>
  <li><h4><a href="https://github.com/Paranoidyang">我的GitHub</a></h4>上面有一些自己学习前端的源码分享，欢迎fork！</li>
</ul>
<%- include footer %>