<%- include header %>
<form method="post">
	标题：<br />
	<input type="text" name="title" class="post_input"/><br />
	标签：<br />
	<input type="text" name="tag1" class="post_input_tag"/>
	<input type="text" name="tag2" class="post_input_tag"/>
	<input type="text" name="tag3" class="post_input_tag"/><br /> 	
	正文：<br />
	<textarea name="post" rows="20" cols="100"></textarea><br />
	<input type="submit" value="发表" class="post_input_submit"/>
</form>
<%- include footer %>
