<%- include header %>
<form method="post">
<table>
	<tr>
	<td align="right">
  用户名：
  	</td>
  	<td>
    <input type="text" name="name"/><br />
    </td>
  	</tr>
  	<tr>
  	<td align="right">
  密码：   
  	</td>
  	<td>
  	 <input type="password" name="password"/><br />
  	 </td>
  	</tr>
  	<tr>
  	<td align="right">
  确认密码：
  </td>
  <td>
  <input type="password" name="password-repeat"/><br />
  </td>
  	</tr>
  	<tr>
  	<td align="right">
  邮箱：    
  </td>
  <td>
  <input type="email" name="email"/><br />
  </td>
  	</tr>
  	<tr>
  	<td colspan="2" align="center">
           <input type="submit" value="注册" class="reg"/>
           </td>
    </tr>
</table>
</form>
<%- include footer %>