<%- include header %>
<form method="post" action="/upload" enctype="multipart/form-data">
	<input type="file" multiple name="field1" class="upload_input"/><br>
	<input type="submit" class="upload_input_submit"/>
</form>
<%- include footer%>